services:
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  node:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
    command: tail -f /dev/null
    depends_on:
      - postgres

volumes:
  postgres_data:
